@model HandAndFoot.Models.PlayerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form  method="post" >
    <h3>Enter a User Name</h3>
    <input asp-for=_user />@*Take in user name*@
    <h3>Would you like to...?</h3>
    <button type="submit" asp-controller="Home" asp-action="Player" asp-route-data="@Model">Create Game</button>
    <button type="submit">Join a Game</button>
</form>
