
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form>
    <input />@*Take in user name*@
    <button>submit to create player action</button>
</form>
