@using HandAndFoot.Models
@model HandAndFoot.Classes.Player
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Table Index</h2>

<h2>Hello @Model.Name, </h2>
<h1>Would you like to...?</h1>

<button asp-action="CreateGame" asp-controller="GameTable" type="submit">Create Game</button>

<button>Join a Game</button>